*{
    margin: 0;
    padding: 0  ;
    box-sizing: border-box;
}
body{
    background-color: rgba(130, 132, 134, 0.411);
border: 1vw solid black    ;

}
.section1{margin-top: 130px;
  text-align: center;

}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.div1{ 
    display: inline;
}
.div2{
  display: inline;
}
img{
    margin-left: 190px;
    border-radius: 50%;
    


}

  h1{
    position: relative;
    top: -50px;
    margin-left: 95px;
    display: inline;
    font-size: 55px;
   
  }
 
  h4{
    margin-top: -49px;
  font-size: 23px;
  margin-left: 1173px;
  }
  .section2{margin-top: 130px;
    text-align: center;}
  h2{
    text-align: justify;
    margin-left: 200px;
    font-size: 70px;;
  }
  .div3{margin: 15%;
    margin-top: 0px;

width: 1000px;
  
    text-align: center;
  }
  p{
    text-align: justify;
    font-size: 20px;
  }
  .section3{
    margin-left: 100px;
    margin-top: -160px;
}
h3{
  margin-left: 105px;
  font-size: 30px;
}
  .div4{margin: 15%;
    margin-top: 0px;

width: 1000px;
  
    text-align: center;
  }
  li{
    text-align: justify;
  font-size: 20px;
  margin-left: -64px;
  margin-top: 14px;
  }
.p2{
  font-size: 20px;
  font-style: normal;

font-weight: bold;
  margin-left: 758px;
}
a{
  text-decoration: none;
}
