*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(251, 255, 255);

} 
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}
#nav_part1, #nav_part2, #nav_part3{
    margin-top: 2% ;
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#nav #nav_part1 h3{
    border: 1px solid black;
    border-radius: 1px ;
    font-size: 16px;
    font-weight: 100;
    border-radius: 50px;
    padding: 2px 5px;
    
}
#nav #nav_part1 i{
    border: 1px solid black;
    border-radius: 50% ;
    
    padding: 2px 5px;
}
#nav_part2 i{
    margin-right: 5px;
   padding: 5px;
    background-color: orangered;
    color: white;
    border-radius: 50%;
}
#nav_part2 h1{
font-size: 20px;
font-weight: lighter;
text-transform: uppercase;
}
#nav #nav_part3{
    padding-right: 20px;

}
button{
    background-color: white;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 50px;
}
#button2{
    background-color: orangered;
   color: white;
    border: 0cap;
}
#center{ display: flex;
    justify-content: center;
    align-items: center;

    width: 100% ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
#center h1{
    font-weight: 100;
    text-transform: uppercase;
    font-size: 130px;
    
   
}
#div_image_center{ height: 80%;
    width:30%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
/* 
#div_image_center img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 60%;
 
 border-radius: 20px;
    
} */
#img4{
     position: absolute;
    top: 50%;
    left: 50%;
        transform: translate(-50%,-50%) rotate(0deg);
          width: 60%;
 
 border-radius: 20px;
}
#img3{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-10deg);
      width: 60%;
 
 border-radius: 20px;
}
#img2{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-20deg);
      width: 60%;
 
 border-radius: 20px;
}
#img1{
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-30deg);
      width: 60%;
 
 border-radius: 20px;
}
#div_bottom{
   
    padding: 16px 40px;
    width:100%;
    
    position: absolute;
    top: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
    
    
}
#div_bottom_left h5{
font-size: 12px;
font-weight: 100;
}
#div_bottom_center{
    display: flex;
    justify-content: center;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1PX solid black;
    

}

#div_bottom_center i{

    font-size: 35px;
    font-weight: lighter;
    
    

}



#div_bottom_right_top{
    

  
    display: flex;
    justify-content: space-evenly;
   
    font-size: 20px;
    
}


#div_bottom_right_down h5{
    font-size: 12px;
font-weight: 100;
}